.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 32px;
  gap: 16px;
}

.cardContainer {
  border: solid 1px #bdbdbd;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffffa1;
}

.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    rgba(140, 138, 138, 0.485),
    rgb(255, 255, 255),
    white
  );
}
.imgContainer img {
  height: 100%;
  width: 100%;
  scale: 0.8;
  object-fit: contain;
}
.imgContainer:hover img {
  scale: 1;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
}

.infoContainer {
  padding: 16px;
}

.infoContainer p {
  margin: 0px;
}
/* .pokemonNumber {
} */

.pokemonName {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 8px !important;
}
